name: EAS Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    environment: EAS publish

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Setup Expo
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EAS_ACCESS_TOKEN }}

      - name: EAS Build (Preview)
        run: eas build --platform android --non-interactive

        # build iOS:
        # run: eas build --platform ios --non-interactive

        # Build cáº£ hai:
        # run: eas build --platform all --non-interactive

      # Upload to stores
      # - name: Submit to app stores
      #   run: eas submit --platform android --non-interactive

      - name: Expo Publish
        run: eas update --branch production --message "Auto publish from GitHub Actions"

